common --enable_bzlmod
common --enable_platform_specific_config
common --lockfile_mode=update
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1

build --incompatible_strict_action_env
build --@aspect_rules_ts//ts:default_to_tsc_transpiler
build --@llvm//config:experimental_stub_libgcc_s=True
build --show_timestamps
build:linux --linkopt=-no-pie

common:linux --host_platform=@gazelle_ts//platforms:local_gnu
common:windows --host_platform=@gazelle_ts//platforms:local_windows_msvc

test --test_output=errors
